body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightcyan;
    background-color: darkslategray;
    text-align: center;
}

img{
    border-radius: 10px;
    height: 200px;
}

.produtos{
    padding: 30px;
}

.prod{
    display: inline-block;
    background-color: lightcyan;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    width: 25%;
    height: 25%;
    padding: 15px;
}

.prod a{
    text-decoration: none;
    color: darkslategray;
}

.preco{
    color: darkslategray;
}

.botao-cad{
    border-radius: 500px;
    width: 25%;
    height: 25%;
}

input{
    margin-bottom: 30px;
}


#cadastro form{
    padding: 20px;
}